<!-- <p>
  
Child ---{{societyId}}---
</p> -->

<!-- <input type="text" [(ngModel)]="randomText">
<button (click)="emitsomeText(randomText)">Submit</button> -->

<!-- <div *ngIf="societyList">
    {{societyList | json}}
    Society Name - {{societyList.societyname}}
</div> -->

<div class="row" *ngIf="societyList">
    <div class="col-xs-12 col-sm-12 text-left contentContainer">   
      
      Society Id:  {{societyList.societyid}} <br>
      Society Name: {{societyList.societyname}} ,  <br>     
      Society Address: {{societyList.address}}<br><br>
     
    </div>
  </div>
