<form #uform="ngForm">
<div class="form-group">
    <label>Building Maintenance</label>
    <input type="text" #bmaintenance="ngModel" required class="form-control" name="bmaintenance"  [ngClass]="inputClass" [(ngModel)]="societyReceiptModel.bmaintenance"> 
    <small class="text-danger" *ngIf=bmaintenance.invalid>Building Maintenance is required</small>
 
</div>

<div class="form-group">
    <label>Parking Maintenance</label>
    <input type="text" #pmaintenance="ngModel" required class="form-control" name="pmaintenance"  [ngClass]="inputClass" [(ngModel)]="societyReceiptModel.pmaintenance"> 
    <small class="text-danger" *ngIf=pmaintenance.invalid>Parking Maintenance is required</small>
 
</div>

<div class="form-group">
    <label>Municipal Due</label>
    <input type="text" #municipaldue="ngModel" required class="form-control" name="municipaldue"  [ngClass]="inputClass" [(ngModel)]="societyReceiptModel.municipaldue"> 
    <small class="text-danger" *ngIf=municipaldue.invalid>Municipal Due is required</small>
 
</div>

<div class="form-group">
    <label>Sinking Fund</label>
    <input type="text" #sinkingfund="ngModel" required class="form-control" name="sinkingfund"  [ngClass]="inputClass" [(ngModel)]="societyReceiptModel.sinkingfund"> 
    <small class="text-danger" *ngIf=sinkingfund.invalid>Sinking Fund is required</small>
 
</div>

<div class="form-group">
    
    <label>Electricity Charges</label>
    <input type="text" #electricitycharge="ngModel" required class="form-control" name="electricitycharge"  [ngClass]="inputClass" [(ngModel)]="societyReceiptModel.electricitycharge"> 
    <small class="text-danger" *ngIf=electricitycharge.invalid>Electricity Charge is required</small>
 
</div>

<button class="btn btn-primary" [disabled]="uform.form.invalid" (click)="OnSubmitForm()" type="submit">Submit</button>
<button class="btn btn-primary" (click)="closeDialogBox()" style="margin-left: 13px;">Close</button>
</form>