.profile {
  padding: 25px
}

.column {
    float: left;
    width: 20%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .companyName{
    font-size: 100%;
}

.mat-toolbar{
  height: 7vh;
}

div {
    overflow: inherit;
}

a{
  text-decoration: none;
  font-size: 90%;
  white-space: normal;
}

button{
  font-size: 90%;
  min-width: min-content;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-date
{
    margin-left: 948px;
    margin-top: -28px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.example-theme
{
  margin-left: 727px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}