<div class="profile" [appHighlighter]="themeColor">
  <div>
    <mat-toolbar color="primary">
      <a mat-button class="companyName" routerLink="/">
        <span>Angular-Example</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/societymgmt/1/building">Building</a>
        <a mat-button routerLink="/societymgmt/1/flats">Flats</a>
        <a mat-button routerLink="/societymgmt/1/owner">Owner</a>
        <a mat-button routerLink="/societymgmt/1/society">Society</a>
        <a mat-button routerLink="/societymgmt/1/tenants">Tenants</a>
        <mat-icon style="font-size: 20px;margin-right: -3%">person</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">Admin</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>This is Admin</button>
          <button mat-menu-item routerLink="/login">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <br>
    <br>
    <div>
      <div class="row">
        <div class="col-3">
            <img width="30" height="230" class="profile" mat-card-image src="http://lorempixel.com/400/200/food/" alt="Photo of a Shiba Inu">
        </div>
          
        <div class="col-3" *ngIf="loginUserInfo && loginUserInfo.name">

            <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title>{{loginUserInfo.name}}</mat-card-title>
                  <mat-card-subtitle>{{loginUserInfo.id}}</mat-card-subtitle>
                  <mat-card-subtitle>{{loginUserInfo.email}}</mat-card-subtitle>
                  <mat-card-subtitle>{{loginUserInfo.phone}}</mat-card-subtitle>
                  <mat-card-subtitle>{{loginUserInfo.dateOfBirth}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button mat-button>Edit Info</button>
                  <button mat-button>More</button>
                </mat-card-actions>
              </mat-card>
        </div>

        <div class="col-6">
            <div >
                {{currentDate | date }}
              </div>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="white" appHighlighter (click)="showselectedTheme('white')"> White Theme
            </mat-radio-button>
            <mat-radio-button value="light" appHighlighter (click)="showselectedTheme('light')"> Light Theme
            </mat-radio-button>
            <mat-radio-button value="dark" appHighlighter (click)="showselectedTheme('dark')"> Dark Theme
            </mat-radio-button>
          </mat-radio-group>

        </div>
        <br>
      </div>
    </div>
  </div>
  <router-outlet>
  </router-outlet>
</div>