<div class="profile" [appHighlighter]="themeColor">
  <div>
    <mat-toolbar color="primary">
      <a mat-button class="companyName" routerLink="/">
        <span>Angular-Example</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/societymgmt/1/building">Building</a>
        <a mat-button routerLink="/societymgmt/1/flats">Flats</a>
        <a mat-button routerLink="/societymgmt/1/owner">Owner</a>
        <a mat-button routerLink="/societymgmt/1/society">Society</a>
        <a mat-button routerLink="/societymgmt/1/tenants">Tenants</a>
        <mat-icon style="font-size: 20px;margin-right: -3%">person</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">Admin</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>This is Admin</button>
          <button mat-menu-item routerLink="/login">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <br>
    <br>
    <div class="example-date">
      {{currentDate | date : 'medium'}}
    </div><br>
    <br>
    <div>
      <mat-radio-group aria-label="Select an option" class="example-theme">
        <mat-radio-button value="white" appHighlighter (click)="showselectedTheme('white')"> White Theme
        </mat-radio-button>
        <mat-radio-button value="light" appHighlighter (click)="showselectedTheme('light')"> Light Theme
        </mat-radio-button>
        <mat-radio-button value="dark" appHighlighter (click)="showselectedTheme('dark')"> Dark Theme
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="loginUserInfo && loginUserInfo.name">
      Welcome {{loginUserInfo.name}}<br>
      Id: {{loginUserInfo.id}}<br>
      {{loginUserInfo.email}}<br>
      {{loginUserInfo.phone}}<br>
      {{loginUserInfo.age}}<br>
    </div>
    <br>
  </div>
  <router-outlet>
  </router-outlet>
</div>