<!-- {{userModel | json}}


{{uform.value | json}} -->
<form #uform="ngForm">
<!-- {{uform.valid}} -->

  <div class="form-group p-2">
 <label>User Name</label> 
  <!-- {{uname.value}}   {{uname.valid}} -->
 <input type="text" #uname="ngModel" required class="form-control" name="uname" 
 [class.is-invalid]="uemail.invalid && (uemail.dirty || uemail.touched)" [(ngModel)]="userModel.userName"> 
 <small class="text-danger" *ngIf="uname.invalid && (uname.dirty || uname.touched)">UserName is required</small>
 </div>

 <div class="form-group p-2">
    <label>Email</label> 
     <!-- {{uemail.value}}   {{uemail.valid}} -->
    <input type="email" #uemail="ngModel" required class="form-control" name="uemail" 
    [class.is-invalid]="uemail.invalid && (uemail.dirty || uemail.touched)" [(ngModel)]="userModel.email"> 
    <small class="text-danger" *ngIf="uemail.invalid && (uemail.dirty || uemail.touched)">Email is required</small>
</div>

<div class="form-group p-2">
    <label>Phone Number</label> 
     <!-- {{uphone.value}}   {{uphone.valid}} -->
    <input type="number" #uphone="ngModel" required  pattern="^\d{10}$" class="form-control" name="uphone" 
    [class.is-invalid]="uphone.invalid && (uphone.dirty || uphone.touched)" [(ngModel)]="userModel.phone"> 
    <div *ngIf="uphone.errors && (uphone.dirty || uphone.touched)">
        <small class="text-danger" *ngIf="uphone.errors.required && (uphone.dirty || uphone.touched)">Phone number is required</small> 
      <small class="text-danger" *ngIf="uphone.errors.pattern && (uphone.dirty || uphone.touched)">Phone number must be 10 digits</small>
    </div>
    
</div>

<div class="form-group p-2">
  <label>User Type</label> 
    <!-- {{userType.value}}
    {{hasError}} -->
  <select class="custom-select" (change)="validateSelection(userModel.userTypeId)" [(ngModel)]="userModel.userTypeId"     name="userType">
    <option value="default">Please select User Type</option>
    <option  [value]="uType.userId" *ngFor= "let uType of userType" >{{uType.userTypeName}}</option>
  </select>
</div> 

<div class="mb-3 p-2">
  <label>Gender</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="umale" value="1" [(ngModel)]="userModel.gender">
    <label class="form-check-label">Male</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="ufemale" value="2" [(ngModel)]="userModel.gender">
    <label class="form-check-label">Female</label>
  </div>
</div>

<div class="form-check m-2">
  <input class="form-check-input"  type="checkbox" name="licence" [(ngModel)]="userModel.licence">
  <label class="form-check-label"> I accept terms and condition</label>
</div>

<button class="btn btn-primary m-3" [disabled]="uform.form.invalid || hasError" (click)="OnSubmitForm()" type="submit">Submit</button>
<button class="btn btn-primary m-1" (click)="onCancel()">Cancel</button>
</form>